*{
    /*background-color:rgb(206, 17, 10);*/
    box-sizing: border-box;
    padding: 0px;
}
body{
    background-color:rgb(206, 17, 10);
}
.slide{
    font-size: 27px;
    border:2px solid ;
    background-color: antiquewhite;
}
.container{
    background-image: url("img/aa.jpg");
    background-size: 129px 156px;
    background-position: 300px 75px;
    background-repeat: no-repeat;
    background-color: lightgray;
    border: 2px solid black;
    /* for margin and padding give the size fastly */
    /* top-right-bottom-left */
    /* top/bottom--left/right */
    padding:20px 52px;
    margin:12px 12px;
    border-radius: 8px;
    border-top-width: 5px;
    border-left-width: 5px;
    height:auto;
    width: auto;
} 
p{
    width:255px;
}
